.company {
	border-style: solid;
    border-width: 1px;
	background-color: lightblue;
}

.allCompanies {
	border-style: solid;
    border-width: 1px;
	background-color: Gray;
}

.solidBorder {
	border-style: solid;
    border-width: 1px;
}